* {
    box-sizing: border-box;
}

.circle {
    width: 200px;
    height: 200px;
    background: #a7ff52;
    border-radius: 50%;

    animation: slide-circle 2s infinite;
    /* animation-name: slide-circle;
    animation-duration: 2s;
    animation-iteration-count: infinite; */
}

@keyframes slide-circle {
    0% {
        transform: translate3d(0px, 0px, 0px);
    }

    50% {
        transform: translate3d(400px, 0px, 0px);
    }

    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}
